 /* Add a black background color to the top navigation */
.topnav {
    background-color: #333333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #00ffff;
    color: cyan;
    opacity: 0.6;

}
div{

background: linear-gradient(to bottom, #ff0000 0%, #000066 95%);} /*got this from https://www.w3schools.com/colors/colors_gradient.as*/

/* Add a color to the active/current link */ /*got this from w3school.com*/
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

div.c {
    font-size: 150%;
}
 body{

     background-color: grey; opacity: 50%;
 }